@using SpartanClash.ViewModels;
@model List<ClanBattle>

@{

    ViewBag.Title = "CompanyResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    string companyName = Model.FirstOrDefault().primaryCompany;

}

<h1><u>Company Results</u></h1>

<h3>@companyName has @Model.Count matches to explore.</h3>

@foreach(ClanBattle battle in Model)
{
    
    <div class="matchHeader">
        @battle.allyHeader vs. @battle.enemyHeader
    </div>
}
