@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>
        Chase more than Achilles.
    </h1>
    <br />
    <br />
    <h3>
        Spartan Clash brings your friends closer by giving you something to strive for.
    </h3>
</div>

<div class="question">
    <h3><b>What does Spartan Clash do?</b></h3>
    <p>
        Spartan Clash hosts leaderboards that show which Spartan Companies are "the best."  Right now, we only have data from the Warzone Warlords April playlist, but we expect the site to evolve over the next few months.
        Ultimately, we want you to be able to track your progress and find rivals Companies to challenge.
    </p>
</div>
<div class="question">
    <h3><b>How do you track matches?</b></h3>
    <p>
        We use the Spartan Company lists published on Waypoint and the Halo 5 API to generate a list of possible matches.  Then we sift through those matches to find "battles," and publish the results here.
    </p>
</div>
<div class="question">
    <h3><b>Which matches do you track? </b></h3>
    <p>
        We count any game that has a full fireteam from the same Spartan Company finish the match. So for 2000 Warzone Warlords matches we found, we tagged the ~800 games that had 6+ players from the same company on at least one of the teams.
    </p>
</div>

<div class="question">
    <h3><b>What playlist are you going to track next?</b></h3>
    <p>
        Classic Warzone for the month of May, and then June is our next playlist.  So if you want to be in the next data refresh, play 6-man teams with your Spartan Company in Warzone.
    </p>
</div>

<div class="question">
    <h3><b>Do you take feedback?</b></h3>
    <p>
        Please!  If you have suggestions for the site, we'd love to hear from you at SpartanClashPilot@gmail.com.
        There are nearly 50,000 Spartan companies and a mountain of data, so your input is greatly appreciated.
    </p>
</div>



