@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>
        Chase more than Achilles.
    </h1>
    <br />
    <br />
    <h3>
        Spartan Clash brings your friends closer by giving you something to strive for.
    </h3>
</div>

<div class="question">
    <h3>
        <b>What does Spartan Clash do?</b>
    </h3>
    <p>
        Spartan Clash hosts leaderboards that show which Spartan Companies are "the best."  Right now, we only show Warzone wins, but we expect the site to evolve over the next few months.
        Ultimately, we want you to be able to track your progress and find rivals Companies to challenge.
    </p>
</div>

<div class="question">
    <h3>
        <b>How do you track matches?</b>
    </h3>
    <p>
        We use the Spartan Company lists published on Waypoint and the Halo 5 API to generate a list of possible matches.  Then we sift through those matches to find "battles," and publish the results here.
    </p>
    <br />
</div>

<div class="question">
    <h3>
        <b>What qualifies a match to be counted? </b>
    </h3>
    <p>
        We count any match that has a full fireteam, so 6 more members on 
    </p>
    <br />
</div>


<footer>
    <p>&copy; @DateTime.Now.Year - This application is offered by SpartanClash.com, which is solely responsible for its content. It is not sponsored or endorsed by Microsoft. This application uses the Halo® Game Data API. Halo © @DateTime.Now.Year Microsoft Corporation. All rights reserved. Microsoft, Halo, and the Halo Logo are trademarks of the Microsoft group of companies. </p>
</footer>

