@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>You've built a team, Spartan.<br></h1>
    <p class="lead">
        <br />
        But are you the best?
     </p>
    
    <p><a href="~/ServiceRecord/ServiceRecord" class="btn btn-primary btn-lg">See Demo Companies &raquo;</a></p>
</div>

<div class="body-content">
    <p>Spartan Clash tracks every Warzone game your company plays together and puts them in one place.
    <br/>Play Warzone as a full fireteam and view our leaderboards to find rival Companies.</p>
</div>